In [119]:
from helpers import *
import pickle
import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [116]:
with open("dataset/RateBeer/ratings_reviews.pickle", 'rb') as file:
    ratings = pickle.load(file)

In [95]:
breweries = pd.read_csv("dataset/RateBeer/breweries.csv")
users = pd.read_csv("dataset/RateBeer/users.csv")

In [104]:
location_brewery_country_stats(ratings.copy(), users.copy(), breweries.copy(), 2010, 100, 5)

,location,brewery_location,number,total_loc_number,popularity_percentage,mean_rating,location_mean,location_std,z_score
0,Australia,Albania,5,6255,0.079936,1.800000,3.164796,0.706110,-1.932839
2,Australia,Australia,1967,6255,31.446843,3.006406,3.164796,0.706110,-0.224314
3,Australia,Austria,106,6255,1.694644,2.933019,3.164796,0.706110,-0.328245
5,Australia,Belgium,704,6255,11.254996,3.419318,3.164796,0.706110,0.360457
7,Australia,Brazil,16,6255,0.255795,2.500000,3.164796,0.706110,-0.941491
...,...,...,...,...,...,...,...,...,...
6495,Venezuela,"United States, California",15,397,3.778338,3.773333,3.021914,0.748263,1.004218
6497,Venezuela,"United States, Hawaii",7,397,1.763224,3.157143,3.021914,0.748263,0.180723
6499,Venezuela,"United States, Michigan",6,397,1.511335,3.866667,3.021914,0.748263,1.128951
6500,Venezuela,"United States, New York",8,397,2.015113,3.900000,3.021914,0.748263,1.173499
6502,Venezuela,"United States, Oregon",25,397,6.297229,3.244000,3.021914,0.748263,0.296802

In [121]:
years = np.arange(2001,2018)
location_list = ['England', 'Canada', 'United States, California', 'United States, Minnesota', 'United States, New Jersey']
bc_popularities_by_year = pd.DataFrame()
for year in years:
    location_bc = location_brewery_country_stats(ratings.copy(), users.copy(), breweries.copy(), year, 100, 5)
    location_bc = location_bc.loc[location_bc['location'].isin(location_list)]
    location_bc_gb_loc = location_bc.groupby('location')
    idx_most_popular = location_bc_gb_loc['number'].idxmax()
    most_popular_bc_by_location = location_bc.loc[idx_most_popular]
    most_popular_bc_by_location = most_popular_bc_by_location[['location', 'brewery_location']]
    most_popular_bc_by_location.set_index('location', inplace = True)
    most_popular_bc_by_location = most_popular_bc_by_location.rename(columns = {'brewery_location': str(year)})
    bc_popularities_by_year = pd.concat([bc_popularities_by_year, most_popular_bc_by_location], axis = 1)

In [122]:
location_brewery_country_stats(ratings.copy(), users.copy(), breweries.copy(), 2010, 100, 5)
years = np.arange(2001, 2018)
location_list = ['England', 'Canada', 'United States, California', 'United States, Minnesota',
                 'United States, New Jersey']
bc_ratings_by_year = pd.DataFrame()
for year in years:
    location_bc = location_brewery_country_stats(ratings.copy(), users.copy(), breweries.copy(), year, 100, 5)
    location_bc = location_bc.loc[location_bc['location'].isin(location_list)]
    location_bc_gb_loc = location_bc.groupby('location')
    idx_highest_rated = location_bc_gb_loc['z_score'].idxmax()
    highest_rated_bc_by_location = location_bc.loc[idx_highest_rated]
    highest_rated_bc_by_location = highest_rated_bc_by_location[['location', 'brewery_location']]
    highest_rated_bc_by_location.set_index('location', inplace=True)
    highest_rated_bc_by_location = highest_rated_bc_by_location.rename(columns={'brewery_location': str(year)})
    bc_ratings_by_year = pd.concat([bc_ratings_by_year, highest_rated_bc_by_location], axis=1)

In [123]:
bc_popularities_by_year

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
location,,,,,,,,,,,,,,,,,
Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada
England,England,England,England,England,England,England,England,England,England,England,England,England,England,England,England,England,England
"United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California","United States, California"
"United States, Minnesota","United States, Minnesota","United States, Wisconsin","United States, Wisconsin","United States, Wisconsin","United States, Wisconsin","United States, Wisconsin","United States, Wisconsin","United States, Wisconsin","United States, Wisconsin","United States, Wisconsin","United States, Minnesota","United States, Minnesota","United States, Minnesota","United States, Minnesota","United States, Minnesota","United States, Minnesota","United States, Minnesota"
"United States, New Jersey",Germany,Belgium,Belgium,Belgium,Belgium,Germany,"United States, New York","United States, California","United States, New York","United States, California","United States, California",Germany,"United States, New York","United States, New York","United States, New York","United States, New Jersey","United States, New Jersey"

In [124]:
bc_ratings_by_year

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
location,,,,,,,,,,,,,,,,,
Canada,Ireland,"United States, New Hampshire",Sri Lanka,"United States, Ohio","United States, Kansas","United States, Alaska","United States, California","United States, Nebraska",Norway,Norway,Norway,"United States, Indiana","United States, Oklahoma","United States, Vermont","United States, Oklahoma","United States, Vermont",Bulgaria
England,Czech Republic,"United States, New Hampshire","United States, Oregon","United States, Washington","United States, Maine",Slovenia,"United States, Alaska","United States, California","United States, Ohio","United States, Ohio",Norway,"United States, Vermont","United States, Alabama","United States, Ohio","United States, Oklahoma","United States, Vermont","United States, New Jersey"
"United States, California","United States, Alaska",Finland,"United States, Kansas",Ukraine,"United States, Kansas",Sri Lanka,Norway,"United States, Kansas",Norway,"United States, South Carolina",Norway,Norway,Norway,Israel,Belgium,"United States, Massachusetts","United States, Rhode Island"
"United States, Minnesota",Czech Republic,"United States, Maine","United States, Kentucky",Finland,"United States, New Hampshire","United States, New Hampshire",Norway,"United States, Alaska",Norway,"United States, Hawaii",Switzerland,Belgium,Norway,"United States, Wyoming",Norway,"United States, Oklahoma","United States, Oklahoma"
"United States, New Jersey","United States, Vermont","United States, Oregon",Sweden,"United States, Alaska","United States, Alaska",Switzerland,"United States, Kansas",Norway,Norway,Norway,Norway,Iceland,Norway,Norway,Norway,"United States, Oklahoma","United States, Oklahoma"